.banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0;

  /* application.self-e7dd16d8bd310c9cf1fc05fccc8d9af2227d63493544fc8c720934b3fa46c1d0.css | http://localhost:3000/assets/application.self-e7dd16d8bd310c9cf1fc05fccc8d9af2227d63493544fc8c720934b3fa46c1d0.css?body=1 */

  a {
    /* color: #167FFB; */
    color: white;
  }

  body {
    /* text-align: left; */
    text-align: center;
  }

  /* Élément | http://localhost:3000/cocktails */

  div.container:nth-child(1) > a:nth-child(3) {
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.214em;
    font-weight: 100;
    line-height: 1.4;
  }

}

.banner h1 {
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.403em;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;


}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
